blinker==1.4
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
clarifai==2.2.3
click==6.7
configparser==3.5.0
crypto==1.4.1
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
future==0.16.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.18.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
Naked==0.1.31
oauthlib==2.1.0
pkg-resources==0.0.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
rsa==3.4.2
shellescape==3.4.1
six==1.11.0
SQLAlchemy==1.2.11
uritemplate==3.0.0
urllib3==1.23
Werkzeug==0.14.1
