.hidden {
    display: none;
}

.visible {
    display: block;
}

body {
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.img-homepage {
    max-width: 90%;
    height: auto;
}

label {
    font-size: 1rem;
    font-weight: 700;
}

button {
    font-family: 'Inconsolata', monospace;
}