{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <h3>About the App</h3>
        <p class="text-left">Outfitless helps users organize their closet, choose outfits, and keep track of their clothes. Most notably, it keeps track of the cost per use for each piece of clothing.</p>
        <p class="text-left">Inspired by the trend towards zero waste, capsule wardrobes, and Mari Kondo of "The Life-Changing Magic of Tidying Up", Outfitless hopes that its users will learn to do more with less.</p>
    <h4>Future Features</h4>
        <ul>
            <li>• Data visualization of user's closets</li>
            <li>• Reminders to wear, donate, or sell clothes not worn in a certain period of time</li>
            <li>• Upload photos to Google Photos</li>
        </ul>
    <h4>Created by</h4>
        <p class="text-left">This was created by Janet Anne Panen for her final project at Hackbright Academy, an engineering school for women. And in case you were wondering–yes, she was definitely inspired by Clueless.</p>
</div>
{% endblock %}