{% extends 'base.html' %}

{% block title %}My Closet{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row"><h3>My Closet</h3></div>
    {% if not all_pieces %}
    <div class="row">
        Nothing in here yet? <a href='/upload'>Upload</a> clothes to your closet.
        {% endif %}
    </div>
    <div class="row">
    {% for piece in all_pieces %}
        <div class="col-md-4">
        <img class="img-thumbnail" src={{ piece.img_url }}>
        <fieldset><legend><b>Piece Details</b></legend>
            <label>DESCRIPTION:</label> {{ piece.desc }}
            <br>
            <label>CLOTHING TYPE:</label> {{ piece.clothing_type }}
            <br>
            <label>TIMES WORN:</label> {{ piece.times_worn }}
            <br>
            <label>CURRENT COST PER USE:</label> {{ piece.cost_per_use }}
            <br>
            <label>Categories:</label> 
            {% for category in piece.categories %}
                {{ category.category }} •
                {% endfor %}
        </fieldset>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}