{% extends 'base.html' %}

{% block title %}My Closet{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row"><h3>My Closet</h3></div>
    {% if not all_pieces %}
    <div class="row">
        Nothing in here yet?
    </div>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg" href="/upload" role=button style="background-color: #c0b283";>Upload pieces here!</a></button>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg" href="/upload" role=button style="background-color: #c0b283";>Upload more pieces</a></button>
        </div>
    </div>
    {% endif %}
    <div class="row">
    {% for piece in all_pieces %}
        <div class="col-4">
        <img class="img-thumbnail mx-auto d-block" src={{ piece.img_url }}>
        <div class="text-center">
        <fieldset>
            <legend><b>Piece Details</b></legend>
        </div>
            <label>DESCRIPTION:</label> {{ piece.desc }}
            <br>
            <label>CURRENT COST PER USE:</label> {{ "$%.2f"|format(piece.cost_per_use) }}
            <br>
            <label>ORIGINAL COST:</label> {{ "$%.2f"|format(piece.cost) }}
            <br>
            <label>TIMES WORN:</label> {{ piece.times_worn }}
            <br>
            <label>CLOTHING TYPE:</label> {{ piece.clothing_type }}
            <br>
            <label>CATEGORIES:</label> 
            {% for category in piece.categories %}
                {{ category.category }} •
                {% endfor %}
        </fieldset>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}