{% extends 'base.html' %}

{% block title %}OOTD{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3>OOTD</h3>
    <div class="row">Here's your Outfit Of The Day!
    </div>
    <div class="row">
        <div class="col-4">
            <img src={{ outfit['piece_1']['img_url'] }} class="img-thumbnail center-block">
        </div>
        <div class="col-4">
            <img src={{ outfit['piece_2']['img_url'] }} class="img-thumbnail center-block">
        </div>
        {% if 'piece_3' in outfit %}
        <div class="col-4">
            <img src={{ outfit['piece_3']['img_url'] }} class="img-thumbnail center-block">
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick='wearOutfit({{ outfit|tojson }})' id="btn-wear-outfit" style="background-color: #c0b283">Yes, I'll wear this today!</button>
            <a class="btn btn-outline-primary btn-lg btn-block" id="btn-choose-other-outfit" value="choose-another-outfit" class="visible" style="background-color: #b56357" href="/ootd" role="button">Nah, choose another outfit please.</a></button>
            <a class="hidden btn btn-outline-primary btn-lg btn-block" id="btn-go-home" style="background-color: #c0b283" href="/mycloset" role="button">Back to my closet</a></button>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}