{% extends 'base.html' %}

{% block title %}OOTD{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row"><h3>OOTD</h3></div>
    <div class="row">Here's your Outfit Of The Day!</div>
    <div class="row">
        <div class="col">
            <img src={{ outfit['piece_1']['img_url'] }}>
        </div>
        <div class="col">
            <img src={{ outfit['piece_2']['img_url'] }}>
        </div>
        {% if 'piece_3' in outfit %}
        <div class="col">
            <img src={{ outfit['piece_3']['img_url'] }}>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col"><button type="button" onclick='wearOutfit({{ outfit|tojson }})' id="btn-wear-outfit">I'll wear this today!</button></div>
        <div class="col"><button type="button" id="btn-choose-other-outfit" value="choose-another-outfit" class="visible"><a href="/ootd">Nah, choose another outfit please.</a></button></div>
        <div class="col"><button type="button" id="btn-go-home" class="hidden"><a href="/mycloset">Back to my closet!</a></button>
{% endblock %}