{% extends 'base.html' %}

{% block title %}Verify your closet{% endblock %}

{% block content %}
    <h3>Verify your closet</h3>

    <button type="button" class="my-closet-button" value="go-to-closet"><a href="/mycloset">Go to your closet</a></button>
    
    {% for piece in upload_data %}
        <div class="piece"><img src={{ piece['piece_url'] }}>
        <br>
        <fieldset>
            <legend>Piece details</legend>
            <form id="form-{{ piece['c_id'] }}" class="visible" method="post" action="/verifycloset">
            <label>Description:</label> 
                {% for concept in piece['concepts'] %}
                <input type="radio" name="desc" value="{{ concept }}" class="desc-field"/> {{ concept }}
                {% endfor %}
            <br>
            <label>If none of the above apply, describe here:</label> <input type="text" name="other_desc" class="other-desc-field"/>
            <br>
            <label>Clothing type:</label> <select name="clothing_type" class="clothing-type-field">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
                <option value="dress">Dress</option>
                <option value="jacket">Jacket</option></select>
            <br>
            <label>Category:</label>
                <input type="checkbox" name="category" value="work" class="category-field"/>
                <label for="work">Work</label>
                <input type="checkbox" name="category" value="workout" class="category-field"/>
                <label for="workout">Workout</label>
                <input type="checkbox" name="category" value="weekend" class="category-field"/><label for="weekend">Weekend</label>
                <input type="checkbox" name="category" value="date" class="category-field"/>
                <label for="date">Date</label>
                <input type="checkbox" name="category" value="lounge" class="category-field"/>
                <label for="lounge">Lounge</label>
                <input type="checkbox" name="category" value="party" class="category-field"/>
                <label for="party">Party</label>
            <br>
            <label>Cost:</label> <input type="text" name="cost" class="cost-field">
            <input type="hidden" value="{{ piece['c_id'] }}" name="c_id">
            <input type="hidden" value="{{ piece['piece_url'] }}" name="img_url">
            <button type="button" id="btn-{{ piece['c_id'] }}" onclick=savePieceDetails("{{ piece['c_id'] }}") value="Save" class="save-button">Save</button>
            <br>
            </form>
            <div id="div-{{ piece['c_id'] }}" class="hidden">Details saved!</div>
        </fieldset>
        </div>
        <br>
    {% endfor %}

    <button type="button" class="my-closet-button" value="go-to-closet"><a href="/mycloset">Go to your closet</a></button>

{% endblock %}
